/* General styling for the navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 15px #00FF7F;
    margin-bottom: 1rem;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 30px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links a {
    text-decoration: none;
    font-size: 1.2em;
    color: #ADFF2F;
    text-shadow: 0 0 10px #ADFF2F;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 2px solid transparent;
    /* No underline initially */
}

.nav-links a:hover {
    color: #00FF7F;
    text-shadow: 0 0 10px #00FF7F;
    border-bottom: 2px solid #00FF7F;
    /* Underline on hover */
}

/* Style for active links - Persistent underline */
.nav-links .active {
    border-bottom: 2px solid #00FF7F;
    /* Persistent underline when active */
    color: #00FF7F;
}

/* Logout button styling */
.logout-button {
    background: linear-gradient(45deg, #006400, #32CD32);
    color: #ffffff;
    border: 2px solid #32CD32;
    padding: 12px 25px;
    font-size: 1.2em;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
}

.logout-button:hover {
    background: linear-gradient(45deg, #32CD32, #00FF7F);
    transform: scale(1.05);
    box-shadow: 0 0 10px #32CD32;
}

/* Responsive styles */
@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .logout-button {
        margin-top: 20px;
    }
}