body,
html {
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #001a00 0%, #000000 100%);
  background-attachment: fixed;
  font-family: 'Arial', sans-serif;
  color: #ffffff;
  min-height: 100%;
}

.container{
  display: flex;
}

.chats {
  margin: 1%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  box-shadow: 0 0 15px #00FF7F;
  color: #ffffff;
  height: 83vh;
  width: 50vb;
}
.chats input {
  flex: 1;
    padding: 15px;
    font-size: 1em;
    border: 2px solid #32CD32;
    border-radius: 10px 0 0 10px;
    outline: none;
    background-color: #001a00;
    color: #ffffff;
}

.chats input::placeholder {
  color: #ADFF2F;
}

.chats input:focus {
  border-color: #00FF7F;
  box-shadow: 0 0 10px #00FF7F;
}

.chats button {
  background: linear-gradient(45deg, #006400, #32CD32);
  color: #ffffff;
  border: 1px solid #32CD32;
  /* padding: 10px 20px; */
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1em;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
}
.chat-box {
  margin: 1%;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 83vh;
  box-shadow: 0 0 15px #00FF7F;
  color: #ffffff;
  border-radius: 15px;
}